*.pyc
.DS_Store
*.swp
.sonar
classes*
pages*
triggers*
components*
aura*
*.jpg
selenium-screenshot*
screenshot*.jpg
log.html
output.xml
report.html
geckodriver.log
debug.log
salesforce_configs/metadata_configurations/endpoints/*
salesforce_configs/metadata_configurations/retrieveEndpointOutput/*
salesforce_configs/metadata_configurations/build.properties
salesforce_configs/product_migration/*.csv
salesforce_configs/product_migration/Parsed_files/*.csv
.~lock*